<%
  var shipping = 0;
  var orderTax = (parseFloat(order.amount) / 100) * order.tax;
  var subtotal = parseFloat(order.amount) - parseFloat(orderTax)

  for (i=0; i<order.lines.length; i ++ ){
    if ( parseFloat(order.lines[i].shipping) > parseFloat(shipping) ) shipping = parseFloat(order.lines[i].shipping);
  }
  var totalOrderAmount = parseFloat(order.amount) + parseFloat(shipping);

%>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <style>
    body {
      padding: 1cm;
    }
    .jumbotron {
      background: #F0F0F0!important;
    }
    .btn {
      background: rgb(66,133,243)!important;
    }
  </style>
  <body>
    <div class="container">
      <!-- LOGO -->
      <div class="text-center">
        <img src="<%=sails.config.general.logo%>" alt="">
      </div>
      <br>
      <table width="100%">
        <col width="60%">
        <col width="25%">
        <col width="15%">
        <tr>
          <td>
            <!-- CLIENT INFO -->
            <address>
              <strong><%= order.shippingAddress.name%> <%= order.shippingAddress.surname%></strong><br>
              <%= order.shippingAddress.address%><br>
              <%= order.shippingAddress.city%>, <%= order.shippingAddress.cp %><br>
              <%= order.shippingAddress.country%>
            </address>
          </td>
          <td>
            <p><%= "REF" %>:</p>
            <p><%= "DATE"%>:</p>
          </td>
          <td class="text-right">
            <p><%= order.id  %></p>
            <%
              var date = new Date(order.createdAt);
              var day = date.getDate();
              var month = parseInt(date.getMonth()) + 1;
              var year = date.getFullYear();
            %>
            <p><%= day + "/" + month + "/" + year%></p>
          </td>
        </tr>
      </table>
      
      <br>
      
          <table width="100%" style="border-collapse: collapse;">
           <col width="10%">
           <col width="45%">
           <col width="15%">
           <col width="15%">
           <col width="15%">
            <thead>
              <tr style="border-bottom:1pt solid black;">
                 <th>Ref</th>
                  <th>Description</th>
                  <th class="text-center">Quantity</th>
                  <th class="text-right">Price</th>
                  <th class="text-right">Total</th>
              </tr>
            </thead>
            <tbody>
            <% var amount = 0; %>
            <% for(var i = 0; i < order.lines.length; i++ ){ %>
              <tr>
                 <td><%= order.lines[i].productId %></td>
                  <td><%= order.lines[i].name + " - " + order.lines[i].description %>
                    <% if (order.lines[i].option) {%>
                      <%=" (" + order.lines[i].option + ")" %>
                    <%}%>
                   </td>
                  <td class="text-center"><%= order.lines[i].quantity %> </td>
                  <%
                    var itemTax = (parseFloat(order.lines[i].price) / 100) * order.tax;
                    var p = order.lines[i].price - itemTax;
                    var totLine = order.lines[i].quantity * p;
                    amount = amount + totLine;
                  %>
                  <td class="text-right"><%= parseFloat(p).toFixed(2) %>  €</td>
                  <td class="text-right"><%= parseFloat(totLine).toFixed(2) %> €</td>
              </tr>
            <% } %>
            <tr><td colspan="5" style="height: 50px; border-bottom:1px solid black"></td></tr>
           <br><br>
           
        <tr>
              <td colspan="3"></td>
              <td class="text-right">Amount:</td>
              <td class="text-right"><%= parseFloat(amount).toFixed(2) %> €</td>
        </tr>
        <tr>
              <td colspan="3"></td>
              <td class="text-right">Tax:</td>
              <td class="text-right" style=""><%= order.tax %> %</td>
        </tr>
        <tr><td colspan="5" >&nbsp</td></tr>
        <tr >
              <td colspan="3"></td>
              <td class="text-right">Subtotal:</td>
              <td class="text-right" ><%= parseFloat( order.amount ).toFixed(2) %> €</td>
        </tr>

        <tr>
              <td colspan="3"></td>
              <td class="text-right">Shippment:</td>
              <td class="text-right"><%= parseFloat(shipping).toFixed(2) %> €</td>
        </tr>
        <tr><td colspan="5" >&nbsp</td></tr>
         <tr>
              <td colspan="3"></td>
              <td class="text-right"><b>Total:</b></td>
              <td class="text-right"><%= parseFloat(totalOrderAmount).toFixed(2) %> €</td>
        </tr>

            </tbody>
          </table>
        

      
      <div class="text-center" style="margin-top: 50px;">
        <%- sails.config.general.orderBottom %>
      </div>
      
      
    </div>
  </body>
</html>
