<div class="container">
  
  <h3>Best sellers</h3>
  
  <% if(products.length == 0){ %>No products...<% } %>
  
  <div class="row">
    <div class="col-sm-3">
      
      <% for(var i = 0; i < products.length; i = i + 4){ %>
        <div class="well">
          <img src="<%= image.getFirst(products[i].images) %>" class="img-responsive" alt="">
          <a href="/product/<%= products[i].slug %>"><%= products[i].name %></a>
        </div>
      <% } %>
      
    </div>
    <div class="col-sm-3">
      
      <% for(var i = 1; i < products.length; i = i + 4){ %>
        <div class="well">
          <img src="<%= image.getFirst(products[i].images) %>" class="img-responsive" alt="">
          <a href="/product/<%= products[i].slug %>"><%= products[i].name %></a>
        </div>
      <% } %>
      
    </div>
    <div class="col-sm-3">
      
      <% for(var i = 2; i < products.length; i = i + 4){ %>
        <div class="well">
          <img src="<%= image.getFirst(products[i].images) %>" class="img-responsive" alt="">
          <a href="/product/<%= products[i].slug %>"><%= products[i].name %></a>
        </div>
      <% } %>
      
    </div>
    <div class="col-sm-3">
      
      <% for(var i = 3; i < products.length; i = i + 4){ %>
        <div class="well">
          <img src="<%= image.getFirst(products[i].images) %>" class="img-responsive" alt="">
          <a href="/product/<%= products[i].slug %>"><%= products[i].name %></a>
        </div>
      <% } %>
      
    </div>
  </div>
  
</div>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
        </ul>
      </div>
    </div>
  </div>
</footer>