<div class="container">
<h1>My Orders</h1>

<% if(orders && orders.length == 0){ %>
NO ORDERS YET
<% }else{ %>

  <table class="table table-striped"> 
    <thead> 
      <tr> 
        <th>Date</th> 
        <th>Id</th>
        <th>Status</th> 
        <th>Total</th>
        <th>Actions</th> 
      </tr> 
    </thead> 
    <tbody>

    <% for(var i = 0; i < orders.length; i++){ %>
      <tr> 
        <td><%= utils.onlyDate(orders[i].createdAt) %></th> 
        <td><%= orders[i].id %></th> 
        <td><%= orders[i].status %></td> 
        <td><%= orders[i].amount %></td>
        <td><a href="/account/orders/<%= orders[i].id %>" class="btn btn-default btn-xs">View detail</a></td>
      </tr>
    <% } %>
    
    </tbody> 
  </table>

<% } %>
</div>