<div class="container">
<h1><%= product.name %></h1>

<div class="row">
  <div class="col-sm-6">
    <img src="<%= image.getFirst(product.images) %>" class="img-responsive" alt="">
  </div>
  <div class="col-sm-6">
    <div class="well">
      <%= product.description %>
      <br>
      <% if(product.options){ %>
      <select name="" id="">
       <% for(var i = 0; i < product.options.length; i++){ %>
        <option value=""><%= product.options[i].name %></option>
        <% } %>
      </select>
      <% } %>
    </div>

    <p>
      <a href="javascript:void(0)" onclick="addToCart('<%= product.id %>')" class="btn btn-success btn-block">COMPRAR</a>
    </p>
    
    <div class="alert alert-success" role="alert" style="display:none">
      Producto añadido correctamente
    </div>
  </div>
</div>


</div>