<div class="container">
<h1><%= product.name %></h1>

<div class="row">
  <div class="col-sm-6">
    <% for(var i = 0; i < product.images.length; i++){ %>
      <img src="<%= product.images[i] %>" class="img-responsive" alt=""><br>
    <% } %>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <%= product.description %>
      <br>
      <% if(product.options){ %>
      <select name="" id="">
       <% for(var i = 0; i < product.options.length; i++){ %>
        <option value=""><%= product.options[i].name %></option>
        <% } %>
      </select>
      <% } %>
    </div>

    <p>
      <a href="javascript:void(0)" oonclick="addToCart('<%= product.id %>', 1)" ng-click="addToCart(<%= product.id %>, 1)" class="btn btn-success btn-block">COMPRAR</a>
    </p>
    
    <div class="alert alert-success" role="alert" style="display:none">
      Producto añadido correctamente
    </div>
  </div>
</div>


</div>