<div class="container">
    <h1>Checkout</h1>
    <!-- 
  <div class="col-sm-4">
      
      <h2>Have account?</h2>
      <br>
      <form role="form" action="/login?page=checkout" method="post">
      <input type="text" placeholder="Email" name="email" class="form-control"><br>
      <input type="password" placeholder="Password" name="password" class="form-control"><br>
      <input type="submit" class="btn btn-primary" value="Login">
      </form>
      
    </div>
  -->
    <hr size="30">
    <div class="row">
        <div class="col-sm-8 ">
            <% if( !req.isAuthenticated() ){ %>
                <div class="row">
                    <div class="col-sm-6 ">
                        <%if (typeof message != "undefined") {%>
                            <div class="alert alert-danger" role="alert" id="success-alert">
                                <%-message %>
                            </div>
                            <script type="text/javascript">
                            window.onload = function() {
                                $("#success-alert").fadeTo(2000, 500).slideUp(500, function() {
                                    $("#success-alert").alert('close');
                                });
                            }
                            </script>
                            <% } %>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h1 style="margin-top:5px;">Login</h1>
                                        <form role="form" action="/login" method="post">
                                            <p><input type="text" class="form-control" name="email" placeholder="Email"></p>
                                            <p><input type="password" class="form-control" name="password" placeholder="Password"></p>
                                            <input type="hidden" name="url" value="/cart/checkout">
                                            <hr>
                                            <p>
                                                <button type="submit" class="btn btn-primary  btn-block">Sign in</button>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                    </div>
                </div>
                <hr style="margin-top:0px;">
                <% } %>
                <form name="userForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid, 'has-success': !userForm.name.$invalid }">
                                <label>Name</label>
                                <% if (req.isAuthenticated() && req.user.id) { %>
                                    <input type="hidden" name="id" ng-model="checkout.id" ng-init="checkout.id = '<%=req.user.id %>'">
                                <% } %>
                                <input type="text" name="name" class="form-control" ng-model="checkout.name" 
                                <% if (req.isAuthenticated() && req.user.name) { %> 
                                    ng-init="checkout.name = '<%=req.user.name %>'"
                                <% }%>
                                 ng-minlength="3" ng-maxlength="8" placeholder="Name" required>
                                <small ng-show="userForm.name.$error.minlength" class="help-block">Name is too short.</small>
                                <small ng-show="userForm.name.$error.maxlength" class="help-block">Name is too long.</small>
                                <small ng-show="userForm.name.$error.required" class="help-block">Name is required.</small>
                                <small ng-show="!userForm.name.$error.required && !userForm.name.$error.minlength && !userForm.name.$error.maxlength" class="help-block">&nbsp;</small>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid, 'has-success': !userForm.email.$invalid }">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" ng-model="checkout.email" 
                                <% if (req.isAuthenticated() && req.user.email) { %> 
                                    ng-init="checkout.email = '<%=req.user.email %>'"
                                <% }%>
                                 ng-minlength="3" placeholder="Email" required>
                                <small ng-show="userForm.email.$error.minlength" class="help-block">Email is too short.</small>
                                <small ng-show="userForm.email.$error.required" class="help-block">Email is required.</small>
                                <small ng-show="userForm.email.$error.email" class="help-block">Your email address is invalid.</small>
                                <small ng-show="!userForm.email.$error.minlength && !userForm.email.$error.required && !userForm.email.$error.email" class="help-block">&nbsp;</small>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : userForm.address.$invalid, 'has-success': !userForm.address.$invalid }">
                                <label>Address</label>
                                <input type="text" name="address" class="form-control" ng-model="checkout.address" 
                                <% if (req.isAuthenticated() && req.user.address) { %> 
                                    ng-init="checkout.address = '<%=req.user.address %>'"
                                <% }%>
                                 ng-minlength="3" ng-maxlength="8" placeholder="Address" required>
                                <small ng-show="userForm.address.$error.minlength" class="help-block">Address is too short.</small>
                                <small ng-show="userForm.address.$error.maxlength" class="help-block">Address is too long.</small>
                                <small ng-show="userForm.address.$error.required" class="help-block">Address is required.</small>
                                <small ng-show="!userForm.address.$error.required && !userForm.address.$error.minlength && !userForm.address.$error.maxlength" class="help-block">&nbsp;</small>
                            </div>

                             <div class="form-group" ng-class="{ 'has-error' : userForm.cp.$invalid, 'has-success': !userForm.cp.$invalid }">
                                <label>Postal code</label>
                                <input type="text" name="cp" class="form-control" ng-model="checkout.cp" 
                                <% if (req.isAuthenticated() && req.user.cp) { %> 
                                    ng-init="checkout.cp = '<%=req.user.cp %>'"
                                <% }%>
                                 ng-minlength="5" ng-maxlength="5" placeholder="Postal code" required>
                                <small ng-show="userForm.cp.$error.minlength" class="help-block">Postal code is too short.</small>
                                <small ng-show="userForm.cp.$error.maxlength" class="help-block">Postal code is too long.</small>
                                <small ng-show="userForm.cp.$error.required" class="help-block">Postal code is required.</small>
                                <small ng-show="!userForm.cp.$error.required && !userForm.cp.$error.minlength && !userForm.cp.$error.maxlength" class="help-block">&nbsp;</small>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error' : userForm.surname.$invalid, 'has-success': !userForm.surname.$invalid }">
                                <label>Surname</label>
                                <input type="text" name="surname" class="form-control" ng-model="checkout.surname" 
                                <% if (req.isAuthenticated() && req.user.surname) { %> 
                                    ng-init="checkout.surname = '<%=req.user.surname %>'"
                                <% }%>
                                 ng-minlength="3" ng-maxlength="50" placeholder="Surname" required>
                                <small ng-show="userForm.surname.$error.minlength" class="help-block">Surname is too short.</small>
                                <small ng-show="userForm.surname.$error.maxlength" class="help-block">Surname is too long.</small>
                                <small ng-show="userForm.surname.$error.required" class="help-block">Surname is required.</small>
                                <small ng-show="!userForm.surname.$error.required && !userForm.surname.$error.minlength && !userForm.surname.$error.maxlength" class="help-block">&nbsp;</small>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid, 'has-success': !userForm.phone.$invalid }">
                                <label>Phone</label>
                                <input type="text" name="phone" class="form-control" ng-model="checkout.phone" 
                                <% if (req.isAuthenticated() && req.user.phone) { %> 
                                    ng-init="checkout.phone = '<%=req.user.phone %>'"
                                <% }%>
                                 ng-minlength="5" ng-maxlength="20" placeholder="Phone" required>
                                <small ng-show="userForm.phone.$error.minlength" class="help-block">Phone is too short.</small>
                                <small ng-show="userForm.phone.$error.maxlength" class="help-block">Phone is too long.</small>
                                <small ng-show="userForm.phone.$error.required" class="help-block">Phone is required.</small>
                                <small ng-show="!userForm.phone.$error.required && !userForm.phone.$error.minlength && !userForm.phone.$error.maxlength" class="help-block">&nbsp;</small>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : userForm.city.$invalid, 'has-success': !userForm.city.$invalid}">
                                <label>City</label>
                                <input type="text" name="city" class="form-control" ng-model="checkout.city" 
                                <% if (req.isAuthenticated() && req.user.city) { %> 
                                    ng-init="checkout.city = '<%=req.user.city %>'"
                                <% }%>
                                 ng-minlength="3" ng-maxlength="50" placeholder="City" required>
                                <small ng-show="userForm.city.$error.minlength" class="help-block">City is too short.</small>
                                <small ng-show="userForm.city.$error.maxlength" class="help-block">City is too long.</small>
                                <small ng-show="userForm.city.$error.required" class="help-block">City is required.</small>
                                <small ng-show="!userForm.city.$error.required && !userForm.city.$error.minlength && !userForm.city.$error.maxlength" class="help-block">&nbsp;</small>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : userForm.country.$invalid, 'has-success': !userForm.country.$invalid }">
                                <label>Country</label>
                                <input type="text" name="country" class="form-control" ng-model="checkout.country" 
                                <% if (req.isAuthenticated() && req.user.country) { %> 
                                    ng-init="checkout.country = '<%=req.user.country %>'"
                                <% }%>
                                 ng-minlength="3" ng-maxlength="50" placeholder="Country" required>
                                <small ng-show="userForm.country.$error.minlength" class="help-block">Country is too short.</small>
                                <small ng-show="userForm.country.$error.maxlength" class="help-block">Country is too long.</small>
                                <small ng-show="userForm.country.$error.required" class="help-block">Country is required.</small>
                                <small ng-show="!userForm.country.$error.required && !userForm.country.$error.minlength && !userForm.country.$error.maxlength" class="help-block">&nbsp;</small>
                            </div>

                        </div>
                    </div>
                </form>
        </div>
        <div class="col-sm-4 ">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your order</h3>
                    </div>
                    <div class="panel-body">
                        <div>Products: <span class="pull-right">{{(cart.amount | number:2) + " €"}}</span></div>
                        <div style="margin-top:10px;">Shipping:
                            <span class="pull-right"> <input type="radio" checked> Normal shipping - <b>{{ (cart.shipping | number:2) + " €" }}</b></span>
                        </div>
                        <hr>
                        <b>Total: <span class="pull-right">{{(cart.amount + cart.shipping | number:2) + " €"}}</span></b>
                        <hr>
                        <div class="alert alert-warning" role="alert" ng-show="message2 && message2!='' ">
                            <span ng-bind="message2"></span>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="message && message!=''"
                        <% if (typeof messagePayment != "undefined"){ %>
                            ng-init="message = '<%=messagePayment %>'"
                        <% }%>
                            >
                            <span ng-bind="message"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <button class="btn btn-success btn-block" ng-disabled="!checkout.email || !checkout.name || !checkout.surname || !checkout.address || !checkout.city || !checkout.cp || !checkout.country || !checkout.phone">Credit card</button>
                            </div>
                            <div class="col-lg-6">
                                <button class="btn btn-warning btn-block" ng-disabled="!checkout.email || !checkout.name || !checkout.surname || !checkout.address || !checkout.city || !checkout.cp || !checkout.country || !checkout.phone" ng-click="payPaypal()">PayPal</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
