<div class="container">
    <h1>Checkout</h1>
    <!-- 
  <div class="col-sm-4">
      
      <h2>Have account?</h2>
      <br>
      <form role="form" action="/login?page=checkout" method="post">
      <input type="text" placeholder="Email" name="email" class="form-control"><br>
      <input type="password" placeholder="Password" name="password" class="form-control"><br>
      <input type="submit" class="btn btn-primary" value="Login">
      </form>
      
    </div>
  -->
    <hr size="30">
    <div class="row">
        <div class="col-sm-8 ">
            <% if( !req.isAuthenticated() ){ %>
                <div class="row">
                    <div class="col-sm-6 ">
                        <%if (typeof message != "undefined") {%>
                            <div class="alert alert-danger" role="alert" id="success-alert">
                                <%-message %>
                            </div>
                            <script type="text/javascript">
                            window.onload = function() {
                                $("#success-alert").fadeTo(2000, 500).slideUp(500, function() {
                                    $("#success-alert").alert('close');
                                });
                            }
                            </script>
                            <% } %>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h1 style="margin-top:5px;">Login</h1>
                                    <form role="form" action="/login" method="post">
                                        <p><input type="text" class="form-control" name="email" placeholder="Email"></p>
                                        <p><input type="password" class="form-control" name="password" placeholder="Password"></p>
                                        <input type="hidden" name="url" value="/cart/checkout">
                                        <hr>
                                        <p>
                                            <button type="submit" class="btn btn-primary  btn-block">Sign in</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>
                <hr style="margin-top:0px;">
                <% } %>
                    <form name="userForm" id="checkoutForm" method="POST" action="/payment">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <% if (req.isAuthenticated() && req.user.id) { %>
                                    <input type="hidden" name="id" value="checkout.id = '<%=req.user.id %>'">
                                <% } %>
                                <input type="text" name="name" class="form-control" value="<%= (req.user) ? req.user.name : '' %>" placeholder="Nombre" required>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" value="<%= (req.user) ? req.user.email : '' %>" placeholder="Email" required>
                            </div>

                            <div class="form-group">
                                <label>Dirección</label>
                                <input type="text" name="address" class="form-control" value="<%= (req.user) ? req.user.address : '' %>" placeholder="Address" required>
                            </div>

                             <div class="form-group">
                                <label>Código postal</label>
                                <input type="text" name="cp" class="form-control" value="<%= (req.user) ? req.user.cp : '' %>" placeholder="Postal code" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input type="text" name="surname" class="form-control" value="<%= (req.user) ? req.user.surname : '' %>" placeholder="Surname" required>
                            </div>

                            <div class="form-group">
                                <label>Teléfono</label>
                                <input type="text" name="phone" class="form-control" value="<%= (req.user) ? req.user.phone : '' %>" placeholder="Phone" required>
                            </div>

                            <div class="form-group">
                                <label>Población</label>
                                <input type="text" name="city" class="form-control" value="<%= (req.user) ? req.user.city : '' %>" placeholder="City" required>
                            </div>

                            <div class="form-group">
                                <label>País</label>
                                <input type="text" name="country" class="form-control" value="España" placeholder="Country" required>
                            </div>

                        </div>
                    </div>
                    
                    <% if( !req.isAuthenticated() ){ %>
                    <!-- NEW ACCOUNT -->
                    <p><input type="checkbox" checked id="createPassword"> Quiero crear una contraseña para poder realizar el seguimiento de mi pedido.</p>
                    <div class="createPasswordBox">
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="password" placeholder="Contraseña" class="form-control" name="password">
                      </div>
                      <div class="col-sm-6">
                        <input type="password" placeholder="Repetir contraseña" class="form-control" name="re-password">
                      </div>
                    </div>
                    </div>
                    <!-- //NEW ACCOUNT -->
                    <% } %>
                    <input type="hidden" id="method" name="method">
                    <input type="submit" class="submit" style="display:none;">
                </form>
        </div>
        <div class="col-sm-4 ">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your order</h3>
                    </div>
                    <div class="panel-body">
                        <div>Products: <span class="pull-right">{{(cart.amount | number:2) + " €"}}</span></div>
                        <div style="margin-top:10px;">Shipping:
                            <span class="pull-right"> <input type="radio" checked> Normal shipping - <b>{{ (cart.shipping | number:2) + " €" }}</b></span>
                        </div>
                        <hr>
                        <b>Total: <span class="pull-right">{{(cart.amount + cart.shipping | number:2) + " €"}}</span></b>
                        <hr>
                        <div class="alert alert-warning" role="alert" ng-show="messageWarning && messageWarning!='' ">
                            <span ng-bind="messageWarning"></span>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="message && message!=''"
                        <% if (typeof messagePayment != "undefined"){ %>
                            ng-init="message = '<%=messagePayment %>'"
                        <% }%>
                            >
                            <span ng-bind="message"></span>
                        </div>
                        <div class="row">
                             <div class="col-lg-6">
                                <button class="btn btn-success btn-block checkoutButton" data-method="credit_card">Credit card</button>
                            </div>
                            <div class="col-lg-6">
                                <button class="btn btn-warning btn-block checkoutButton" data-method="paypal">PayPal</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
