<div class="container">
  <h1>Cart view</h1>
  
  <% if(products && products.length > 0){ %>
    <table class="table table-bordered">
      <tr>
        <th>Nº</th>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
        <th>Delete</th>
      </tr>
      
    <% var total = 0 %>
    <% for(i = 0; i < products.length; i++){ %>
    
     <tr>
       <td>#<%= i+1 %></td>
       <td><img src="<%= image.getFirst(products[i].images) %>" width="50px"></td>
       <td><%= products[i].name %></td>
       <td><%= products[i].price %></td>
       <td><%= products[i].qty %></td>
       <td><b><%= products[i].price * products[i].qty %></b></td>
       <td><i class="glyphicon glyphicon-trash"></i></td>
     </tr>   
     <% total += products[i].price * products[i].qty %>
    <% } %>
    </table>
    
    <h4 class="text-right">Subtotal: <%= total %>€</h4>
    <h4 class="text-right">Shipping: <%= utils.getShipping(products) %>€</h4><br>
    <h2 class="text-right">Total: <%= total + utils.getShipping(products) %>€</h2>
  <% }else{ %>
    <div class="well">
      No products added to the shopping cart
    </div>
  <% } %>
</div>