
<div class="container">
    <span class="loginBox pull-right">
	    <% if(req.isAuthenticated()){ %>
			<a href="/account">User: <%= req.user.email %></a> | <a href="/logout">Logout</a>
		<% }else{ %>
			<a href="/login">Login</a></li>
		<% } %> | 

		<div style="display:inline;" class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				<span class="glyphicon glyphicon-shopping-cart"></span> My cart ({{cart.count}}) <span class="caret"></span>
    		</a>
    		<ul ng-show="cart.count>0" class="dropdown-menu dropdown-cart" role="menu">
        		<li ng-repeat="item in cart.items|limitTo:4">
            		<span class="item">
						<span class="item-left">
							<img ng-src="{{item.product.images[0].substring(0, item.product.images[0].lastIndexOf('.')) + '-crop-med' + item.product.images[0].substring(item.product.images[0].lastIndexOf('.'))}}" alt="" width="50"/>
							<span class="item-info">
								<span>{{item.product.name}}</span>
            					<span>{{item.qty}} x {{(item.product.price | number:2) + "€"}}</span>
            				</span>
            			</span>
            			<span class="item-right">
							<button class="btn btn-xs btn-danger pull-right" ng-click="cart.removeItemByIndex($index)">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            				</button>
            			</span>
            		</span>
        		</li>
		        <li class="divider"></li>
		        <li><a class="text-center" href="/cart/show">View Cart</a></li>
    		</ul>
    		<ul ng-show="cart.count==0" class="dropdown-menu dropdown-cart" role="menu">
        		<li>
            		<span class="item">
						<p class="text-center">Your cart is empty</p>
            		</span>
        		</li>
		        <li class="divider" ng-hide="cart.items.length==0"></li>
		        <li ng-hide="cart.items.length==0"><a class="text-center" href="/cart/show">View Cart</a></li>
    		</ul>
		</div>
	</span>
	<h1 class="text-center">Welcome to <a href="/">Sails-Shop</a></h1>
	 <p class="text-center">
	    <% for(var i = 0; i < res.menu.length; i++){ %>
	      <a href="/collections/<%= res.menu[i].slug %>"><%= res.menu[i].name %></a> <% if(i < res.menu.length - 1) { %>|<% } %>
	    <% } %>
	  </p>
	  <p class="text-center">
	    <% for(var i = 0; i < utils.getMenu.length; i++){ %>
	      <a href="/collections/<%= res.menu[i].slug %>"><%= res.menu[i].name %></a> <% if(i < res.menu.length - 1) { %>|<% } %>
	    <% } %>
	  </p>
</div>
