<div class="form-group">
  <label for="inputname">name</label>
  <input type="text" name="name" class="form-control" id="" placeholder="Enter name" value="<%if(typeof product.name !== "undefined"){%><%=product.name%><%}%>" required>
</div>

<div class="form-group">
  <label for="inputslug">description</label>
  <textarea name="description" class="form-control" id="" required><%if(typeof product.description !== "undefined"){%><%=product.description%><%}%></textarea>
</div>

<hr>

<div class="form-group">
  <label for="inputslug">status</label><br>
  <input type="radio" name="status" value="active" checked> Active <br>
  <input type="radio" name="status" value="sold_out"> Sold Out <br>
  <input type="radio" name="status" value="disabled"> Disabled <br>
</div>
 
<div class="form-group">
  <label for="inputslug">options</label>
  <div class="well">
    <button type="button" onclick="addOption()" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i> Add option</button>
    <div class="options">
      <%if(typeof product.options !== "undefined"){%>
        <%- utils.getOptions(product.options) %>
      <%}%>
    </div>
  </div>
</div>
  

<div class="form-group">
  <label for="inputslug">category</label><br>
  <select name="category">
    <% for(var i = 0; i < categories.length; i++){ %>
      <option value="<%= categories[i].id%>" <%if(product.category == categories[i].id){%>selected<%}%>><%= categories[i].name%></option>
    <% } %>
  </select>
</div>

<div class="form-group">
  <label for="inputname">stock</label>
  <input id="stockProduct" type="number" min=0 name="stock" class="form-control" id="" placeholder="Enter stock" value="<%if(typeof product.stock !== "undefined"){%><%=product.stock%><%}else{%>0<%}%>" required>
</div>

<div class="form-group">
  <label for="inputname">price</label>
  <input type="number" min=0 step="0.01" name="price" class="form-control" id="" placeholder="Enter price" value="<%if(typeof product.price !== "undefined"){%><%=product.price%><%}else{%>0<%}%>" required>
</div>

<div class="form-group">
  <label for="inputname">shipping</label>
  <input type="number" min=0 step="0.01" name="shipping" class="form-control" id="" placeholder="Enter shipping" value="<%if(typeof product.shipping !== "undefined"){%><%=product.shipping%><%}else{%><%= res.settings.shipping %><%}%>" required>
</div>

<%if(product.images && typeof product.images !== "undefined"){%>
<h3>Images: <%= product.images.length %></h3>

<% if(product.images.length){%>
<div class="well">
 <div class="row">
  <% for(var i = 0; i < product.images.length; i++){ %>
    <div id="img<%= i%>" class="col-sm-3">
      <img src="<%= image.getSize(product.images[i], 'crop-small') %>" class="img-thumbnail img-responsive">
      <input type="hidden" name="images[]" value="<%= product.images[i] %>">
      <br>
      <a href="javascript:$('#img<%= i%>').remove()">Delete</a>
    </div>
  <% } %>
  </div>
</div>
<% } %>
<% } %>

<div class="form-group">
<label for="inputname">Add images</label>
<input type="file" name="imagesUploader" multiple>
</div>


