<div class="form-group">
  <label for="inputname">name</label>
  <input type="text" name="name" class="form-control" id="" placeholder="Enter name" value="<%if(typeof product.name !== "undefined"){%><%=product.name%><%}%>" >
</div>

<div class="form-group">
  <label for="inputslug">description</label>
  <textarea name="description" class="form-control" id="">
    <%if(typeof product.description !== "undefined"){%><%=product.description%><%}%>
  </textarea>
</div>

<hr>

<div class="form-group">
  <label for="inputslug">status</label>
  <input type="radio" name="status" value="active" checked> Active <br>
  <input type="radio" name="status" value="sold_out" checked> Sold Out <br>
  <input type="radio" name="status" value="disabled" checked> Disabled <br>
</div>
 
<div class="form-group">
  <label for="inputslug">options</label>
  <p>Name: <input type="text" name="oname" class="" id="" placeholder="Option"> Stock: <input type="text" name="ostock" class="" id="" placeholder="Stock"></p>
  <p>Name: <input type="text" name="oname" class="" id="" placeholder="Option"> Stock: <input type="text" name="ostock" class="" id="" placeholder="Stock"></p>
  <p>Name: <input type="text" name="oname" class="" id="" placeholder="Option"> Stock: <input type="text" name="ostock" class="" id="" placeholder="Stock"></p>
  <p>Name: <input type="text" name="oname" class="" id="" placeholder="Option"> Stock: <input type="text" name="ostock" class="" id="" placeholder="Stock"></p>
</div>
  

<div class="form-group">
  <label for="inputslug">category</label>
  <select name="category">
    <% for(var i = 0; i < categories.length; i++){ %>
      <option value="<%= categories[i].id%>"><%= categories[i].name%></option>
    <% } %>
  </select>
</div>

<div class="form-group">
  <label for="inputname">stock</label>
  <input type="int" name="stock" class="form-control" id="" placeholder="Enter stock" value="<%if(typeof product.stock !== "undefined"){%><%=product.stock%><%}%>" >
</div>

<div class="form-group">
  <label for="inputname">price</label>
  <input type="text" name="price" class="form-control" id="" placeholder="Enter price" value="<%if(typeof product.price !== "undefined"){%><%=product.price%><%}%>" >
</div>

<div class="form-group">
  <label for="inputname">shipping</label>
  <input type="text" name="shipping" class="form-control" id="" placeholder="Enter shipping" value="<%if(typeof product.shipping !== "undefined"){%><%=product.shipping%><%}%>" >
</div>

<div class="form-group">
<input type="file" name="images" multiple>
</div>


