<%
  var shipping = 0;
  var orderTax = (parseFloat(order.amount) / 100) * order.tax;
  var subtotal = parseFloat(order.amount) - parseFloat(orderTax)

  for (i=0; i<order.lines.length; i ++ ){
    if ( parseFloat(order.lines[i].shipping) > parseFloat(shipping) ) shipping = parseFloat(order.lines[i].shipping);
  }
  var totalOrderAmount = parseFloat(order.amount) + parseFloat(shipping);

  var date = new Date(order.createdAt);
  var day = date.getDate();
  var month = parseInt(date.getMonth()) + 1;
  var year = date.getFullYear();
%>
    

      <div class="row">
        <div class="col-sm-4">
         <p>Order date: <b><%= day + "/" + month + "/" + year%></b><br>
         Order nº: <b><%= order.id  %></b></p>

        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
      </div>  
      
      <br>
      
      <table class="table table-bordered"> 
        <thead> 
          <tr> 
            <th>Ref</th> 
            <th>Name</th> 
            <th>Qty</th> 
            <th>Price</th> 
            <th>Total</th>
          </tr> 
        </thead> 
        <tbody> 
          <% var amount = 0; %>
          <% for(var i = 0; i < order.lines.length; i++ ){ %>
            <tr>
               <td><%= order.lines[i].productId %></td>
                <td><%= order.lines[i].name%>
                  <% if (order.lines[i].option) {%>
                    <%=" (" + order.lines[i].option + ")" %>
                  <%}%>
                 </td>
                <td><%= order.lines[i].quantity %> </td>
                <%
                  var itemTax = (parseFloat(order.lines[i].price) / 100) * order.tax;
                  var p = order.lines[i].price - itemTax;
                  var totLine = order.lines[i].quantity * p;
                  amount = amount + totLine;
                %>
                <td><%= parseFloat(p).toFixed(2) %>  €</td>
                <td><%= parseFloat(totLine).toFixed(2) %> €</td>
            </tr>
          <% } %>
         </tbody> 
      </table>
      
      <div class="row">
        <div class="col-sm-9">
          <h4>Shipping Address</h4>
          <strong><%= order.shippingAddress.name%> <%= order.shippingAddress.surname%></strong><br>
          <%= order.shippingAddress.address%><br>
          <%= order.shippingAddress.city%>, <%= order.shippingAddress.cp %><br>
          <%= order.shippingAddress.country%>
        </div>
        <div class="col-sm-1">
          <p>Amount:<br>
            Tax: <br> 
            Subtotal: <br> 
            Shipping:
          </p>
          <h4>TOTAL</h4></div>
        <div class="col-sm-2">
          <p>
            <%= parseFloat(amount).toFixed(2) %> € <br> 
            <%= order.tax %> % <br> 
            <%= parseFloat( order.amount ).toFixed(2) %> € <br>
            <%= parseFloat(shipping).toFixed(2) %> €
          </p>
          <h4><%= parseFloat(totalOrderAmount).toFixed(2) %> €</h4></div>
      </div>

      

