<div class="page-header">
    <h1>Settings <a href="settings/add" class="btn btn-primary pull-right">Add settings</a></h1>
  </div>
  
<% if(defaultValues && defaultValues.length > 0){%>
  <div class="alert alert-danger" role="alert">
    <p><b>Ops!</b> There are missing settings:</p>
    <ul>
    <% for(var i = 0; i < defaultValues.length; i++){%>
      <li>- <%= defaultValues[i] %> - <a href="/admin/settings/add?key=<%= defaultValues[i] %>">Add</a></li>
    <% } %>
    </ul>
  </div>
<%}%>
  
<table class="table table-striped">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<% for(var i = 0; i < settings.length; i++){ %>
  <tr>
    <td><%= settings[i].key %></td>
    <td><%= settings[i].value %></td>
    <td><a href="/admin/settings/edit/<%= settings[i].id %>">Edit</a> - <button type="button" class="ajaxDelete btn btn-default btn-xs" id="<%= settings[i].id %>" data-model="settings">Delete</button></td>
  </tr>
<% } %>
  </tbody>
</table>